{% extends 'base.html' %}
{% block content %}


{{search | title}}

<div class="row">
    <div class="col s4">

        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs70pl1hMBzGQ_7xfiJTDfo8I4VNLWgXSCjLcO0727jg&s" alt=""></a>
            </div>
            <div class="card-content">
                <p>TESTTTTTT</p>
            </div>
            <div class="card-action">
                <a href="/">View listing: Price </a>
            </div>
        </div>

        
        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs70pl1hMBzGQ_7xfiJTDfo8I4VNLWgXSCjLcO0727jg&s" alt=""></a>
            </div>
            <div class="card-content">
                <p>TESTTTTTT</p>
            </div>
            <div class="card-action">
                <a href="/">View listing: Price </a>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs70pl1hMBzGQ_7xfiJTDfo8I4VNLWgXSCjLcO0727jg&s" alt=""></a>
            </div>
            <div class="card-content">
                <p>TESTTTTTT</p>
            </div>
            <div class="card-action">
                <a href="/">View listing: Price </a>
            </div>
        </div>

    </div>
</div>

{% endblock content %}